.backgroundIcon {
  font-size: 420px !important;
  position: absolute;
  opacity: 0.2;
  right: -80px;
  top: 180px;
}

.codeComparisonsCol {
  margin-bottom: 16px;
}

.codeComparisonCard {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 12px 15px rgb(233, 238, 241);;
  box-shadow: 0 12px 15px rgb(233, 238, 241);;
}

.codeComparisons .codeBlock {
  font-family: consolas;
  font-size: 15px;
}

.codeComparisons .codeBlock em {
  color: #1890ff;
}

.actions {
  margin-top: 24px;
}

.actions button {
  margin-right: 8px;
}
