.backgroundIcon {
  font-size: 350px !important;
  position: absolute;
  opacity: 0.2;
  right: -80px;
  top: 100px;
}

.codeComparisonsCol {
  margin-bottom: 16px;
}

.codeComparisons .codeBlock {
  font-family: consolas;
  font-size: 15px;
}

.codeComparisons .codeBlock em {
  color: #1890ff;
}

.actions button {
  margin-right: 8px;
}
